<div ><h1>Libreria</h1></div>

<div>
  <table class="table table-hover" style="width: 80%">
    <thead>
      <th>ISBN</th>
      <th >Titulo</th>
      <th>Autor</th>
      <th>Precio</th>
      <th ></th>
      <th ></th>
    </thead>
    <tbody>
    <tr *ngFor="let book of libros">
      <td>
        {{book.isbn}}
      </td>
      <td>
        {{book.titulo}}
      </td>
      <td>
        {{book.id_autor}}
      </td>
      <td>
        {{book.precio}}
      </td>
      <td>
        <button class="btn btn-success" (click)="addLibro()"> Editar</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="addLibro()"> Eliminar</button>
      </td>

    </tr>
  </tbody>
  </table>
</div>
<div>
  <p>
    <button class="btn btn-primary" (click)="addLibro()"> Nuevo</button>
  </p>
</div>
<router-outlet></router-outlet>
